.product-detail {
  width: 360px;
  height: calc(100vh - 68px);
  top: 68px;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.slide-in {
  transform: translateX(0);
}

.hidden {
  transform: none;
}
